<main class="col-sm-12 col-lg-10">

  <style>

    main {

      overflow-y: scroll;
      height: 100%;

    }

  </style>

  <header class="navbar navbar-sticky panel card">

    <div class="container-fluid">

      <button class="pull-left btn btn-link navbar-btn">

        <span class="glyphicon glyphicon-chevron-left"></span>

      </button>

      <p class="navbar-text">

        Dashboard

      </p>

    </div>

  </header>

  <div class="panel panel-default card">

    <div class="panel-body">

      DASHBOARD

    </div>

  </div>

</main>
