<main class="col-sm-12 col-md-8 col-lg-7">

  <header class="navbar">

    <div class="container-fluid">

      <button class="navbar-header pull-left btn btn-link navbar-btn">

        <span class="glyphicon glyphicon-chevron-left"></span>

      </button>

      <p class="navbar-header navbar-text">

        Model

      </p>

      <button class="navbar-header pull-right btn btn-link navbar-btn">

        <span class="glyphicon glyphicon-ok"></span>

      </button>

    </div>

  </header>

  <div class="panel panel-default">

    <form>

      MAIN

    </form>

  </div>

</main>
