<aside class="col-sm-4 col-lg-3">

  <style>

    aside {

      overflow-y: scroll;
      height: 100%;

    }

  </style>

  <header class="navbar navbar-sticky panel card">

    <div class="container-fluid">

      <button class="pull-left btn btn-link navbar-btn">

        <span class="glyphicon glyphicon-chevron-left"></span>

      </button>

      <p class="navbar-text navbar-center">

        Models

      </p>

      <button class="pull-right btn btn-link navbar-btn" ng-click="create()">

        <span class="glyphicon glyphicon-plus"></span>

      </button>

    </div>

  </header>

  <div class="panel panel-default card">

    <search>

      <!-- This gets replaced by the search directive -->

    </search>

    <nav class="list-group">

      <a class="list-group-item" ui-sref-active="active" ui-sref="models.model({ model : model.url })" ng-repeat="model in data.models | filter : search">

        <div class="list-group-item-heading">

          {{ model.name }}

          <small class="text-muted" ng-if="model.published === false">

            Archived

          </small>

        </div>

        <div class="list-group-item-text">

          Height {{ model.height }}

          Bust {{ model.bust }}

          Waist {{ model.waist }}

          Hip {{ model.hip }}

          Dress {{ model.dress }}

          Shoe {{ model.shoe }}

          Hair {{ model.hair }}

          Eyes {{ model.eyes }}

        </div>

      </a>

    </nav>

  </div>

</aside>

<main class="col-sm-12 col-md-8 col-lg-7" ui-view>

  <!-- Model goes here -->

</main>
