<style>

  main {

    overflow-y: scroll;
    display: block;
    height: 100%;

  }

</style>

<form name="form" ng-submit="submit()">

  <header class="navbar navbar-sticky panel card">

    <div class="container-fluid">

      <button class="navbar-header pull-left btn btn-link navbar-btn">

        <span class="glyphicon glyphicon-chevron-left"></span>

      </button>

      <p class="navbar-text navbar-center">

        {{ model.name }}

      </p>

      <button type="submit" class="navbar-header pull-right btn btn-link navbar-btn" ng-disabled="form.$invalid">

        <span class="glyphicon glyphicon-ok"></span>

      </button>

    </div>

  </header>

  <div class="panel panel-default card">

    <div class="panel-body">

      <div class="form-group">

        <label>

          Name

        </label>

        <input required class="form-control" ng-change="update( model )" ng-model="model.name">

      </div>

      <div class="form-group">

        <label>

          Url

        </label>

        <input required class="form-control" ng-change="update( model )" ng-model="model.url">

      </div>

      <div class="form-group">

        <label>

          Height

        </label>

        <input class="form-control" ng-change="update( model )" ng-model="model.height">

      </div>

      <div class="form-group">

        <label>

          Image

        </label>

        <input type="file" class="form-control" image="model.image" accept="image/jpeg">

      </div>

      <div class="form-group" ng-repeat="progress in model.image.$$progress">

        <label>

          {{ progress.label }}

        </label>

        <div class="progress">

          <div class="progress-bar progress-bar-success progress-bar-striped active" style="width: {{ progress.percentage }}%"></div>

        </div>

        <p class="help-block">

          <small>

            {{ progress.status }}

          </small>

        </p>

      </div>

      <div class="form-group text-center">

        <p class="help-block text-center" ng-if="model.image.sizes.length">

          <small>

            Available sizes :

            <a ng-href="{{ model.image | image : 'original' }}" ng-if="!model.image.$$progress || model.image.$$progress[ 0 ].state === 4">

              Original

            </a>

            <a ng-href="{{ model.image | image : 272 }}" ng-if="!model.image.$$progress || model.image.$$progress[ 1 ].state === 4">

              272px

            </a>

            <a ng-href="{{ model.image | image : 750 }}" ng-if="!model.image.$$progress || model.image.$$progress[ 2 ].state === 4">

              750px

            </a>

            <a ng-href="{{ model.image | image : 1536 }}" ng-if="!model.image.$$progress || model.image.$$progress[ 3 ].state === 4">

              1536px

            </a>

            <a ng-href="{{ model.image | image : 2880 }}" ng-if="!model.image.$$progress || model.image.$$progress[ 4 ].state === 4">

              2880px

            </a>

          </small>

        </p>

        <img class="img-rounded center-block" ng-srcset="{{ model.image | image : '272' }} 2x" ng-src="{{ model.image | image : '272' }}">

      </div>

      <hr>

      <div class="form-group">

        <label>

          Notes

        </label>

        <button class="btn btn-default btn-block" ng-click="notes.create( model )">

          <span class="glyphicon glyphicon-plus"></span> Note

        </button>

      </div>

      <div class="form-group" ng-repeat="note in model.notes">

        <textarea class="form-control" placeholder="Enter a note here…" ng-change="notes.update( note , model )" ng-model="note.text"></textarea>

        <p class="help-block text-center">

          <small>

            Updated on {{ note.updated.on | date : 'fullDate' }} at {{ note.updated.on | date : 'mediumTime' }} by {{ note.updated.by }} Created on {{ note.created.on | date : 'fullDate' }} at {{ note.created.on | date : 'mediumTime' }} by  {{ note.created.by }}

          </small>

        </p>

        <button type="button" class="btn btn-link btn-block" ng-click="notes.remove( note , model )">

          Remove

        </button>

      </div>

      <hr>

      <div class="form-group">

        <label class="btn btn-default btn-block">

          <span ng-if="!model.published">

            <span class="glyphicon glyphicon-eye-open"></span> Publish

          </span>

          <span ng-if="model.published">

            <span class="glyphicon glyphicon-eye-close"></span> Archive

          </span>

          <input type="checkbox" class="hidden" ng-change="update( model )" ng-model="model.published">

        </label>

        <p class="help-block text-center">

          <small>

            Updated on {{ model.updated.on | date : 'fullDate' }} at {{ model.updated.on | date : 'mediumTime' }} by {{ model.updated.by }} Created on {{ model.created.on | date : 'fullDate' }} at {{ model.created.on | date : 'mediumTime' }} by  {{ model.created.by }}

          </small>

        </p>

      </div>

      <div class="form-group">

        <button type="button" class="btn btn-link btn-block" ng-click="remove( model )">

          Remove

        </button>

      </div>

    </div>

  </div>

</form>

<small>{{ model | json }}</small>
