<style>

  main {

    overflow-y: scroll;
    display: block;
    height: 100%;

  }

</style>

<header class="navbar navbar-sticky panel">

  <div class="container-fluid">

    <button class="navbar-header pull-left btn btn-link navbar-btn">

      <span class="glyphicon glyphicon-chevron-left"></span>

    </button>

    <p class="navbar-header navbar-text">

      {{ model.name }}

    </p>

    <button class="navbar-header pull-right btn btn-link navbar-btn" ng-disabled="form.$invalid">

      <span class="glyphicon glyphicon-ok"></span>

    </button>

  </div>

</header>

<div class="panel panel-default">

  <form class="panel-body" name="form">

    <div class="form-group">

      <label>

        Name

      </label>

      <input required class="form-control" ng-model="model.name">

    </div>

    <div class="form-group">

      <label>

        Url

      </label>

      <input required class="form-control" ng-model="model.url">

    </div>

    {{ model | json }}

  </form>

</div>
